.folowsDiv {
  background-color: #fafafa;
  border-left: 3px solid #e6e6e6;
  width: 20%;
  height: 92vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: initials;
  align-items: center;
}
